*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    justify-content: center;
}

.selected {
    font-weight: bold;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin: 0 15% 0 15%;
    margin-bottom: auto;
    padding-top: 100px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: blue;
    font-size: 16px;
}

a:hover {
    color: gray;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color:#BBE2EC;
    padding: 0% 3%;
    position: fixed;
    padding-right: 10%;
    z-index: 1;
}
.logo img {
    width: 70px;
}
.menu {
    display: flex;
}
.menu li {
    padding-left: 50px;
}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color:black;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu , .close-menu {
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {
    display: none;
}

@media /*(pointer:none), (pointer:coarse),*/ (max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color:#BBE2EC;
        transition: all 0.2s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
        width: 100%;
        text-align: center;
    }
    .menu li a {
        padding: 10px;
    }
    .open-menu , .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
    main {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: auto;
        padding-top: 100px;
        padding-bottom: 20px;
    }
    
    footer {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .img {
        width: 400px;
    }

    .grid_container {
        grid-template-columns: 1fr !important;
    }

    .left-nav > ul {
        position: relative !important;
    }

    .left-nav {
        justify-content: center;
        text-align: center;
        width: 100% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
}

.willkommen h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}

.willkommen p {
    padding-top: 10px;
    justify-content: center;
}

.left-nav > ul {
    padding: 4px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.left-nav > ul > li {
    padding: 4px;
}

.left-nav > ul > li > a {
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    color: black;
}

.left-nav > ul > li > a:hover {
    color: gray;
}

.left-nav {
    padding-left: 3%;
    padding-right: 3%;
    width: 210px;
    background-color: #fff6e9;
}

.left-nav ul li {
    margin-top: 10px;
}

/*@media(max-width: 610px){
    .left-nav ul li a {
        display: none;
    }
}*/

footer > p {
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 10px;
}

footer {
    padding-top: 20px;
    padding-left: 4%;
    padding-right: 8%;
    padding-bottom: 20px;
    font-size: 14px;
    background-color:#BBE2EC;
}

.spacer {
    margin-bottom: 30px;
}

.mini-spacer {
    margin-bottom: 20px;
}
.container {
    margin-top: 30px;
}

.container-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0D9276;
    margin-top: 20px;
    border-radius: 20px;
}

.container h2 {
    text-align: center;
}

.container-boxes .box {
    min-width: 50px;
    max-width: 300px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    /*grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));*/
}

.container-boxes .box a {
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

.container-boxes .box p {
    margin-top: 10px;
}

.container-boxes .box h3 {
    margin-top: 10px;
}

.img {
    max-width: 250px;
}

table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }

  th {
    background-color: #b3e5a1;
  }
  
  td {
    padding-left: 4px;
    width: 50%;
  }

  .topic {
    padding-top: 40px;
  }

  .topic p {
    padding-top: 10px;
  }

  .grid_container {
    margin-bottom: auto;
    padding-top: 74px;
    padding-bottom: 20px;
    /*background-color: #0D9276;*/
    grid-template-columns: 200px 1fr;
    display: grid;
  }

  .grid_container main {
    margin: 0 0 0 0;
    margin-bottom: auto;
    padding-top: 35px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }

.left-nav > ul {
    position: fixed;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
}

.video {
    padding-top: 40px;
    padding-left: 200px;
}