* {
    overflow: 0;
    box-sizing: border-box;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    border-collapse: collapse;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: row;
}

.content {
    justify-content: center;
    min-width: 600px;
    width: 90%;
    text-align: center;
}

header > img {
    width: 150px;
}